/IPC
costosHOY.xlsx
desktop.ini
Discord.lnk
Ejercicio Mengano - miercoles 090425 HOY.xlsx
Fallout Shelter.url
PyCharm Community Edition 2024.3.4.lnk
Stremio.lnk
Visual Studio Code.lnk
Wallpaper Engine.url
/Macro primer parcial
/office
/Taller de Excel Avanzado
/Yo
Python
PythonProject
.idea/
.venv
2025.py
Fundamentode Informatica/AutomatizandoUnNegocioDigital.py
Fundamentode Informatica/AutomatizandoUnNegocioDigitalYo.py
Fundamentode Informatica/Clase 1/
Fundamentode Informatica/Clase 2/
Fundamentode Informatica/Clase 3/
Fundamentode Informatica/Clase 4/
Fundamentode Informatica/Clase 5/
Fundamentode Informatica/Clase 6/PracticaClase6.3.py
Fundamentode Informatica/Clase 6/PracticaClase6.py
Fundamentode Informatica/Clase 6/PraticaClase6.2.py
Fundamentode Informatica/Clase 6/TeoriaClase6.py
Fundamentode Informatica/PracticaClase6.1.py
Fundamentode Informatica/my_access_token_github.txt

